body {
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F7F9;
    height: 100%;
}
.group {
    width: 100%;
    height: 100%;
    display: flex;
}
.wrapper {
    width: 14%;
    min-height: 100%;
    background-color: #fff;
    margin-right: 64px;
    border-radius: 0 30px 30px 0;
}
.investUp {
    width: 103px;
    height: 71px;
    margin-top: 120px;
    margin-left: 65px;
}
.investUpimagine {
    width: 64.71px;
    height: 40px;
    background-image: url(investUp.png);
    margin-bottom: 7px;
    margin-left: 19px;
}
.investUpText {
    width: 103px;
    height: 24px;
    text-align: center;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    font-family: 'Open Sans';
    color: #2D2D2D;
}
.menu {
    width: 173px;
    height: 320px;
    color: #2D2D2D;
    margin-top: 110px;
    margin-left: 30px;
}
.button {
    width: 173px;
    height: 56px;
    background-color: #F5F7F9;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button_1 {
    width: 173px;
    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.b1 {
    width: 101px;
    height: 24px;
    margin-top: 3px;
}
.houseText {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
.house_icon {
    width: 24px;
    height: 23px;
    background-image: url(house\ icon.png);
}
.market {
    background-image: url(bag\ icon.png);
    width: 26px;
    height: 26px;
}
.exchange {
    background-image: url(document\ icon.png);
    width: 22px;
    height: 22px;
}
.portfolio {
    background-image: url(otherbag\ icon.png);
    width: 30px;
    height: 30px;
}
.settings {
    background-image: url(settings\ icon.png);
    width: 24px;
    height: 24px;
}
.logout {
    background-image: url(logout\ icon.png);
    width: 24px;
    height: 24px;
}
.initial {
    width: 64px;
    height: 36px;
    background-image: url(Initial.png);
    margin-left: 80px;
    margin-top: 210px;
}
.groupHome {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.home {
    margin-top: 10px;
    margin-left: 45px;
    width: 154px;
    height: 46px;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #2B2B2B;
}
.icons {
    width: 125px;
    height: 50px;
    display: flex;
    margin-right: 50px;
}
.messageIcon, .profileIcon {
    height: 50px;
    width: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.messageIcon{
    margin-right: 25px;
}
.messageIcon_1 {
    background-image: url(message\ icon.png);
    width: 20px;
    height: 15.83px;
}
.profileIcon_1 {
    background-image: url(profile\ icon.png);
    height: 20px;
    width: 20px;
}
.w1 {
    width: 375px;
    margin-right: 52px;
    background-color: #fff;
    border-radius: 24px;
    margin-top: 35px;
    padding: 5px 32px;
}
.walletsWrapper {
    height: 303px;
    margin-top: 85px;
}
.statistics {
    height: 144px;
}
.thanks, .investment {
    height: 69px;
}
.block {
    margin-top: 20px;
    margin-left: 10px;
}
.walletsStat {
    display: flex;
    width: 360px;
    height: 27px;
    justify-content: space-between;
}
.popularWallets {
    width: 145px;
    height: 27px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.25px;
    color: #12121F;
}
.thisWeek {
    width: 98px;
    height: 27px;
    color: #585858;
    font-size: 16px;
    letter-spacing: 0.25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
}
.shape {
    width: 8px;
    height: 4.62px;
    background-image: url(Shape.png);
    margin-left: 5px;
}
.row {
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.r{
    margin-top: 20px;
}
.r1 {
    border-top: 1px solid #F1F1F5;
    margin-top: 10px;
}
.d1 {
    width: 62px;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #12121F;
    letter-spacing: 0.25px;
}
.d2 {
    width: 70px;
    height: 21px;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #AFAFBD;
}
.sh {
    width: 16px;
    height: 15.84px;
    margin-left: 5px;
}
.delta {
    display: flex;
    align-items: center;
}
.statIm1 {
    background-image: url(graph1.png);
}
.statIm2 {
    background-image: url(graph2.png);
    height: 38px;
}
.statIm3 {
    background-image: url(graph3.png);
}
.orange1 {
    background-image: url(orange1.png);
}
.purple {
    background-image: url(purple.png);
}
.orange2 {
    background-image: url(orange2.png);
}
.im {
    width: 91px;
}
.statIm1, .statIm3 {
    height: 32.18px;
}
.column1 {
    width: 439px;
    margin-left: 50px;
    margin-right: 52px;
}
.content {
    height: 970px;
    width: 1800px;
}
.numbers {
    width: 175px;
    height: 34px;
    margin-top: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dollars {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.25px;
    color: #12121F;
}
.percent {
    width: 80px;
    height: 20px;
    display: flex;
    margin-left: 11px;
    color: #FE7C6F;
    align-items: center;
    font-size: 17px;
}
.compared {
    font-weight: 300;
    font-size: 15px;
    color: #AFAFBD;
    width: 240px;
    height: 21px;
    margin-top: 10px;
}
.both {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gspIm {
    width: 15.85px;
    height: 15.86px;
    background-image: url(gps.png);
}
.thanksfor {
    height: 69px;
    width: 300px;
    display: flex;
    align-items: center;
}
.var {
    margin-left: 27px;
}
.thanksText {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.25px;
    color: #12121F;
    height: 27px;
}
.combo {
    width: 130px;
    height: 13px;
    display: flex;
}
.clock {
    width: 12px;
    height: 12px;
    background-image: url(clock.png);
    margin-right: 3px;
}
.justNow{
    width: 104px;
    font-weight: 500;
    font-size: 11px;
    color: #AFAFBD;
    font-family: 'Montserrat', sans-serif;
}
.gpsgroup{
    background-color: #FE805C;
}
.dollargroup {
    background-image: url(dollar.png);
}
.back1 {
    height: 280px;
    margin-top: 85px;
}
.back2 {
    height: 410px;
    display: flex;
    margin-top: 40px;
}
.bck {
    width: 500px;
    border-radius: 15px;
    background-color: #fff;
}
.allcolumns {
    display: flex;
}